/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #007bff, #00aaff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

.App-header h1 {
  color: black; /* Cambiado a negro */
}
